* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

.svg-container {
    width: 100px;
    height: 100px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    cursor: grab;
    user-select: none;
    z-index: 1000;
}

.ping-tooltip {
    position: absolute;
    top: 36px;
    left: 61px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.2s ease;
    font-family: monospace;
    z-index: -1;
}

.header {
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 1000;
    pointer-events: auto;
}

.header-controls {
    pointer-events: auto;
    display: flex;
    gap: 8px;
}

.header-btn {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    flex-shrink: 0;
    pointer-events: auto;
    position: relative;
    z-index: 1001;
    user-select: none;
    -webkit-app-region: no-drag;
    left: -56px;
    bottom: -1px;
}

.header-btn:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(-1px);
}

.header-btn:active {
    transform: translateY(0);
}

.header-btn#close-btn:hover {
    background: #ff5555;
    color: white;
}